.about-us-main {
    color: white;
    text-align: center;
    letter-spacing: 1px;
    width: 70%;
    margin: 0 auto;
    opacity: 0;
    transition: opacity .75s ease-in;
}

.about-header>h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-family: "Merriweather", serif;

}

.about-us-main>* {
    margin-bottom: 100px;
}

.about-content>* {
    margin-bottom: 100px;

}

.about-content>*>h2 {
    margin-bottom: 20px;
}

.about-header p {
    font-weight: 700;
    font-size: 1.225rem;
}

.about-content>div>p {
    font-size: 1.225rem;
}
.about-us-visible {
    opacity: 1;
}


@media screen and (max-width: 769px) {
    .about-us-main {
        padding-top: 100px;
    }
}